* {
  text-align: center;
}

.header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item-list {
  background-color: #a5c4cc;
  padding: 5px;
  border-bottom: 1px #ccc dotted;
  height: 100%;
}

.delete-button {
  float: right;
  border: none;
  background-color: transparent;
}
